body {
    background-color: rgb(255, 250, 203);
  }


table{
  border: 8.5px solid rgb(87, 87, 87) ;
}

img { 
    background-color: rgb(155, 218, 255);
    border-radius: 10px;
}
.bordefoto{
  background-color: rgb(84, 75, 78);
  border: 17px solid rgb(84, 75, 78);
  border-radius: 17px;
  justify-content: center;
}
.bordedex{
  width: 134px;
  background-color: #8f8ba2;
  border: 17px solid #8f8ba2;
}
.arcadefont {
    font-family: 'ArcadeClassic', sans-serif;
}
.botonnext{
  font-size: large;
}

button{
    font-family: 'ArcadeClassic', sans-serif;
    
}
  h1 {
    color: rgb(246, 225, 179);
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 29px;
  }
  
  p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 17px;
  }

  .container {
    position: relative;
  }
  
  .datafont{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .image-container {
    text-align: center; 
}

.inner {
    width: 100%;
    height: 100%;
    background-color: rgb(155, 218, 255);
    border-radius: 10px; 
    padding-top: 4px;
}

.left-div, .right-div {
  display: inline-block;
  padding: 20px;
}